.child-desc {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.child-desc h2 {
  font-size: 9rem;
  margin: 0em;
  font-family: monospace;
  color: rgb(34, 34, 34);
}

.child-desc h2.shadow {
  font-family: monospace;
  position: absolute;
  bottom: 56.3%;
  right: 29.5%;
  color: whitesmoke;
}

.child-desc p {
  font-family: monospace;
  margin: 0.2em 0;
  font-size: 0.8rem;
  font-style: italic;
}

.child-desc a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 400;
  background: whitesmoke;
  padding: 0.4em 2.5em;
  border-radius: 0.4em;
  transition: 0.3s;
}

.child-desc a:hover {
  color: whitesmoke;
  background: rgb(34, 34, 34);
}
