.navbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar ul {
  width: 50%;
  margin: 0;
  background-color: #282c34;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  border-radius: 0 0 1.5rem 1.5rem;
}

.navbar ul li {
  list-style: none;
  padding: 0.2rem 1.8rem 0.5rem;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(189, 189, 189);
  font-family: monospace;
  transition: 0.2s;
  font-size: 1.1em;
}

.navbar ul li a:hover {
  color: whitesmoke;
}
