body {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

.for-bg {
  background: radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/images/pexels-markus-spiske-2004161.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.Landing-page {
  background-color: #282c34;
  min-height: 100vh;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}
